  <footer class="jobs_footer">
    <div class="container">
      <div class="row">
        <a class="logo_footer pull-left" href="index.html">
          <!--<img class="img-responsive" src="/images/logo.png" alt="logo"> -->
            ItsEasy Passport & Visa
        </a>
        <!--<ul>-->
        <!--<li><i class="iconS-Map-Pin2"></i>address</li>-->
        <!--<li><i class="iconS-Call"></i>phone</li>-->
        <!--<li><i class="iconS-Mail"></i>email</li>-->
        <!--</ul>-->
        <a class="pull-right" href="index.html"><span>&copy;</span> ItsEasy 2017  |  All Rights Reserved</a>
      </div>
    </div>
  </footer>