<div class="modal fade get_user_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center text-uppercase">Please select user.</h5>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <select class="form-control" ng-model="active_user.name" ng-change="userSelected();">
                  <option>admin</option>
                  <option>sal</option>
                  <option>david</option>
                  <option>lee</option>
                  <option>santa</option>
                  <option>jessica</option>
                  <option>marie</option>
                  <option>leslie</option>
                  <option>diana</option>
                  <option>lashown</option>
                </select>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>